@font-face {
  font-family: "DM Sans";
  src: url("../vendors/fonts/DM_Sans/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../vendors/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf")
    format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../vendors/fonts/Montserrat/Montserrat-Regular.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../vendors/fonts/Montserrat/Montserrat-Medium.ttf")
    format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../vendors/fonts/Montserrat/Montserrat-SemiBold.ttf")
    format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../vendors/fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.main {
  font-family: "Montserrat";
  overflow: hidden;
}
.scroll-off {
  overflow-y: hidden;
}

.swiper-wrapper {
  align-items: center;
}

.swiper.marquee-swiper {
  mask-image: linear-gradient(
    to right,
    transparent 0%,
    white 10%,
    white 90%,
    transparent 100%
  );
}

.marquee-swiper > .swiper-wrapper {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  /* gap: 193px; */
}
.marquee-swiper .swiper-slide {
  /* width: 255px; */
  -webkit-animation-timing-function: linear !important;
  animation-timing-function: linear !important;
}


@media (min-width: 1024px) and (max-width: 1440px) {
  .marquee-swiper > .swiper-wrapper {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    /* gap: 100px; */
  }
  .marquee-swiper .swiper-slide {
    /* width: 258px; */
    -webkit-animation-timing-function: linear !important;
    animation-timing-function: linear !important;
  }
}
